body {
  /*to keep the footer where it belongs*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*******************************/
  margin-top: 4.5%;
  background-color: rgb(255, 136, 0);
  padding: 0%;
}
/**also for the footer*/
article {
  flex: 1;
}
/**********************/
video {
  width: 100%;
  height: auto;
}
.MySection {
  padding: 2%;
  background-color: rgba(234, 109, 0, 0.799);
  width: 100%;
  height: fit-content;
}
.MyFooter {
  background-color: #212529;
  color: whitesmoke;
  padding: 2%;
}
