body {
  background-color: rgb(255, 136, 0);
  padding: 4.3%;
}
video {
  width: 100%;
  height: auto;
}
.MySection {
  padding: 2%;
  background-color: rgba(234, 109, 0, 0.799);
  display: block;
  width: 100%;
  height: fit-content;
}
.MyFooter {
  margin-left: -4.7%;
  margin-right: -4.7%;
  margin-bottom: -5%;
  /*background-image: url(/media/images/footer-background.jpg);*/
  background-color: #212529;
  color: whitesmoke;
  padding: 2%;
}

@media only screen and (max-width: 700px) {
  div {
    display: block;
  }
}
